---
layout: default
permalink: /archive/
---
<p style="color:red; font-size:1.2rem;">
  Posts found: {{ site.posts.size }}
</p>
<h1>{{ site.title }}</h1>

{% assign seasons = site.data.seasons %}

{% for s in seasons %}
  {% assign posts = site.posts | where: "season", s.number | sort: "date" %}
  {% if posts.size > 0 %}
    <h2>{{ s.label }}</h2>
    <ul>
      {% for post in posts %}
        <li>
          <a href="{{ post.url | relative_url }}">
            <span>{{ post.title }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endfor %}

{% comment %} Anything with no season set {% endcomment %}
{% assign untagged = site.posts | where_exp: "p", "p.season == nil" %}
{% if untagged.size > 0 %}
  <h2>Other</h2>
  <ul>
    {% for post in untagged %}
      <li>
        <a href="{{ post.url | relative_url }}">
          <span>{{ post.title }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
